[Unit]
Description=Alarm Server
After=network.target kafka.service

[Service]
Type=simple
ExecStart=alarm_send localhost:9092 alarm-events console-consumer-62319
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target